
.app {
  background-image: url("./images/login_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 100vw;
  height: 100vh;


  &__container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
  }
}
